$blue: blue;
$darkblue: darkblue;
$red: red;
$darkred: darkred;
$green: green;
$darkgreen: darkgreen;
$grey-100: #d8d8d8;
$grey-200: #cccccc;
$grey-300: #fafafa;
$grey-400: rgb(235, 234, 234);
$grey-500: rgba(66, 70, 94, 0.9);
$grey-600: rgba(17, 17, 17);
$grey-800: #232323;
$grey-900: #1e1e1e;